@use './mixins/mixins.module.scss' as mixins;
@use './mixins/variables.module.scss' as variable;

.sectionHome{
    @include mixins.flex($direction: column, $justify: center, $align: center);
    height: 94vh;
    border: solid red;
    overflow: hidden;

    p{
        border: solid blue;
    }
}

.h2Home{
    border: solid green;
}

.videoHome{
    border: solid blue;
    position: relative;
    top: 0;
    left: 0;
    object-fit: contain;
}