@use './mixins/mixins.module.scss' as mixins;
@use './mixins/variables.module.scss' as variable;

.sectionHome{
    @include mixins.flex($direction: column, $justify: center, $align: center);
    height: 94vh;
    border: solid red;
    overflow: hidden;

    p{
        border: solid blue;
        width: 45%;
        color: variable.$text-color;
        text-align: center;
    }
}

.divh2Home{
    width: 60%;
    @include mixins.flex($align: flex-start, $direction: column, $gap: 2rem, $justify: center);
}


.h2Home{
    border: solid green;
    color: variable.$text-color;
}

.videoHome{
    position: fixed;
    top: 6vh;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 94vh;
}

.span{
    color: variable.$span-text;
}



.btnHome{
    border: solid variable.$span-text 3px;
    background: none;
    color: variable.$text-color;
    padding: .5rem;
    cursor: pointer;
}

.content{
    position: relative;
    z-index: 1;
    // @include mixins.flex($direction: column, $justify: center, $align: center, $gap: 8rem);
    display: grid;
    grid-template-areas: 
    "divh2Home ." 
    "paragraph paragraph "
    "btnHome btnHome ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}